<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Fechar &times;</button>
  <a href="{% url 'core:cliente_select' %}" class="w3-bar-item w3-button">Cliente</a>
  <a href="{% url 'avalista:avalista_list' %}" class="w3-bar-item w3-button">Fiador</a>
  <a href="{% url 'emprestimo:emprestimo_list' %}" class="w3-bar-item w3-button">Empréstimo</a>
</div>

<!-- Page Content -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div>
  <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
   
  </div>
</div>
     
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
          
</body>
</html>



<!-- <a href="{% url 'core:cliente_select' %}" class="w3-bar-item w3-button">Clientes</a>
<a href="{% url 'avalista:avalista_list' %}" class="w3-bar-item w3-button">Fiador</a>
<a href="{% url 'emprestimo:emprestimo_list' %}" class="w3-bar-item w3-button">Empréstimos</a>

{% block content %}
    
{% endblock content %}    -->

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ESCTOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cliente:cliente_list' %}">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'emprestimo:emprestimo_list' %}">Emprestimos</a>
            </li>
            
            <li class="nav-item dropdown">
               
            </li>
        </ul>
    </div>
</nav>
-->