{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<h2>CADASTRO DE AVALISTA</h2>

    <form action="{% url 'avalista:avalista_novo' %}" method="post">
        {% csrf_token %}
         <div class="col-sm-4">
            <div class="form-group">
                <label for="">{{form1.avalista.label}}</label>
                {% render_field form1.avalista class="form-control" %}
            </div>
        </div>   
        {{ form1.as_p }} 
        {{ form2.as_p }}            
        
        <input type="submit" class="btn btn-info" value="Salvar">
    </form>

{% endblock content %}

{% comment %} <form action="" method="post">
        {% csrf_token %}
        {{ form1 }}
    <input type="submit" class="btn btn-info" value="Salvar Idioma">
    </form>
    <form action="" method="post">
        {% csrf_token %}
        {{ form2 }}
        <input type="submit" class="btn btn-info" value="Salvar Lingua">
        
    </form> {% endcomment %}