<!DOCTYPE html>
<html charset="UTF-8">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex">
   
<style>
    body {
        font-family: "Arial";
    }
    .document {
        margin: auto auto;
        width: 236mm;
        height: 108mm;
        background-color: #fff;
    }
    h2{
        text-align: center;
        padding: 10px;  
    }
    .fontmenor{
        font-size: 17px;
        padding: 50px; 
        margin: 28px; 
        text-align: justify;
    }
    /*OMITE O ENDEREÇO DA PAGINA NA HORA DA IMPRESSÃO*/
    @page{
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
    }   
</style>
</head>
<body>
    
    <div class="document">
        <div id = "contraro" class="col-sm-6">
           
        </div>
    </div>
    
<script>

window.onload = function imprimir(){

    //VARIÁVEIS DO FUNCIONÁRIO
    var funcionario = "{{object.funcionario}}"
    
    //VARIÁVEIS DA DATA DO EMPRESTIMO
    var contador_meses = 0
    var contador_anos  = 0
    var dataEmprestimo = "{{ object.data_emprestimo}}"		
    var dia
    var mes
    var ano
    var aux_dia = {{object.data_emprestimo.day}}
    var aux_mes = {{object.data_emprestimo.month}}
    var aux_ano = {{object.data_emprestimo.year}}
    

    //VARIÁVEIS DO EMPRESTIMO
    var dinheiro = 0
    dinheiro = "{{object.valor_prestacao}}"

    var aux_qtd_parccela = {{object.qtd_parcelas}}
    var data_emissao = "{{object.data_emprestimo|date:"d/m/Y"}}"
    var valor_da_parcela = parseFloat("{{object.valor_prestacao|floatformat:2}}".replace(',', '.'))
    var valor_da_parcela_int = parseInt("{{object.valor_prestacao|floatformat:2}}".replace(',', '.'))
    
    var valor_multa = parseFloat((valor_da_parcela*0.020)).toFixed(2)			
    var valor_juros_dia = (valor_da_parcela*0.0066).toFixed(2)
    var contador_parcela = 0
    
    var real = parseInt('{{object.valor_prestacao}}')	
    real = String(real).extenso()
    
    var centavos = parseFloat((valor_da_parcela-valor_da_parcela_int)).toFixed(2)	
    centavos = String(centavos).extenso()
    
    
    //VARIÁVEIS DO CLIENTE
    var cliente_nome = "{{object.cliente}}"
    var cpf = "{{object.cliente.cpf}}"    
    var rg = "{{object.cliente.rg}}"    
    var naturalidade = "{{object.cliente.naturalidade}}"
    var estado_civil = "{{object.cliente.estado_civil}}"
    var rua = "{{object.cliente.rua}}"
    var bairro = "{{object.cliente.bairro}}"
    var cidade = "{{object.cliente.cidade}}"
    var uf = "{{object.cliente.uf}}"
    var numero_casa = "{{object.cliente.numero_casa}}"
    var cep = "{{object.cliente.cep}}"


    //VARIÁVEIS DO AVALISTA
    var avalista = "{{object.cliente.avalista.avalista}}"
    var cpf_avalista = "{{object.cliente.avalista.cpf_avalista}}"

    for (var i = 0 ; i < 1; i++){
    contador_meses++
    contador_parcela++

    dia  = aux_dia
    mes  = aux_mes+contador_meses
    ano  = aux_ano

    //AJUSTA A DATA QUANDO O MES É FEVEREIRO 
    if(dia == 30 && mes == 2){
        dia = 1 
        mes = 3
    }
    
    //AJUSTA MESES E ANOS 
    if(mes == 13){
        contador_meses = 0
        aux_mes = 1
        mes = 1	
        aux_ano++
        ano++				
    }
    
    if(mes == 1){
        mes = 'Janeiro'
    }
    if(mes == 2){
        mes = 'Fevereiro'
    }
    if(mes == 3){
        mes = 'Março'
    }
    if(mes == 4){
        mes = 'Abril'
    }
    if(mes == 5){
        mes = 'Maio'
    }
    if(mes == 6){
        mes = 'Junho'
    }
    if(mes == 7){
        mes = 'Julho'
    }
    if(mes == 8){
        mes = 'Agosto'
    }
    if(mes == 9){
        mes = 'Setembro'
    }
    if(mes == 10){
        mes = 'Outubro'
    }
    if(mes == 11){
        mes = 'Novembro'
    }
    if(mes == 12){
        mes = 'Dezembro'
    }
    contraro.innerHTML +=		
        `
            <h2> CONTRATO DE MÚTUO </h2>
            <p class="fontmenor" >Pelo presente contrato particular de empréstimo de dinheiro,de um lado, Josimério de Abreu Silva, (Brasileiro, Solteiro, RG 1.791.746 SSP RN, CPF 029.388.274-66), 
            de ora em diante denominado simplesmente por CREDOR, e, de outro lado, ${cliente_nome}
            (${naturalidade}, ${estado_civil}, Funcionário Privado, RG ${rg} ${orgao_expedidor}, CPF 063.649.274-59, RN Rua 1º de Janeiro, 121, Quintas, Natal-RN, </p>
         
        `
    }			
}

String.prototype.extenso = function(c){
    var ex = [
        ["zero", "um", "dois", "três", "quatro", "cinco", "seis", "sete", "oito", "nove", "dez", "onze", "doze", "treze", "quatorze", "quinze", "dezesseis", "dezessete", "dezoito", "dezenove"],
        ["dez", "vinte", "trinta", "quarenta", "cinqüenta", "sessenta", "setenta", "oitenta", "noventa"],
        ["cem", "cento", "duzentos", "trezentos", "quatrocentos", "quinhentos", "seiscentos", "setecentos", "oitocentos", "novecentos"],
        ["mil", "milhão", "bilhão", "trilhão", "quadrilhão", "quintilhão", "sextilhão", "setilhão", "octilhão", "nonilhão", "decilhão", "undecilhão", "dodecilhão", "tredecilhão", "quatrodecilhão", "quindecilhão", "sedecilhão", "septendecilhão", "octencilhão", "nonencilhão"]
    ];
    var a, n, v, i, n = this.replace(c ? /[^,\d]/g : /\D/g, "").split(","), e = " e ", $ = "real", d = "centavo", sl;
    for(var f = n.length - 1, l, j = -1, r = [], s = [], t = ""; ++j <= f; s = []){
        j && (n[j] = (("." + n[j]) * 1).toFixed(2).slice(2));
        if(!(a = (v = n[j]).slice((l = v.length) % 3).match(/\d{3}/g), v = l % 3 ? [v.slice(0, l % 3)] : [], v = a ? v.concat(a) : v).length) continue;
        for(a = -1, l = v.length; ++a < l; t = ""){
            if(!(i = v[a] * 1)) continue;
            i % 100 < 20 && (t += ex[0][i % 100]) ||
            i % 100 + 1 && (t += ex[1][(i % 100 / 10 >> 0) - 1] + (i % 10 ? e + ex[0][i % 10] : ""));
            s.push((i < 100 ? t : !(i % 100) ? ex[2][i == 100 ? 0 : i / 100 >> 0] : (ex[2][i / 100 >> 0] + e + t)) +
            ((t = l - a - 2) > -1 ? " " + (i > 1 && t > 0 ? ex[3][t].replace("ão", "ões") : ex[3][t]) : ""));
        }
        a = ((sl = s.length) > 1 ? (a = s.pop(), s.join(" ") + e + a) : s.join("") || ((!j && (n[j + 1] * 1 > 0) || r.length) ? "" : ex[0][0]));
        a && r.push(a + (c ? (" " + (v.join("") * 1 > 1 ? j ? d + "s" : (/0{6,}$/.test(n[0]) ? "de " : "") + $.replace("l", "is") : j ? d : $)) : ""));
    }
    return r.join(e);
}
</script>
</body>
</html>
