{% extends "base.html" %}

{% block content %}

<span class="pull-right">
    <td style="text-align:center"> 
        <a href="{% url 'emprestimo:emprestimo_list' %}">
            <button type="button" class="btn btn-secondary">Voltar</button>
        </a> 
    </td> 
    <td style="text-align:center"> 
        <a href="{% url 'emprestimo:emprestimo_edit' object.pk %}">
            <button type="button" class="btn btn-info">Editar</button>
        </a> 
    </td> 
    
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning">
            <a href="{% url 'emprestimo:emprestimo_impress' object.pk %}" style="text-align:center">
            </a>Carnê
        </button>
    
        <button type="button" class="btn btn-warning">
            <a href="{% url 'emprestimo:emprestimo_promissoria' object.pk %}" style="text-align:center">
            </a>Promissória
        </button>
    
        <button type="button" class="btn btn-warning">
            <a href="{% url 'emprestimo:emprestimo_contrato' object.pk %}" style="text-align:center">
            </a>Contrato
        </button>
    </div>
    
</span>

<a href="{% url 'emprestimo:emprestimo_list' %}">Voltar</a>
<h1>Emprestimo Nº {{ object.num_doc }}</h1>

<div class="col-sm-6">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-right">funcionario</th>
                <td>{{ object.funcionario }}</td>
            </tr>
            <tr>
                <th class="text-right">Nº Documento</th>
                <td>{{ object.num_doc }}</td>
            </tr>
            <tr>
                <th class="text-right">Cliente</th>
                <td>{{ object.cliente }}</td>
            </tr>
            <tr>
                <th class="text-right">Valor</th>
                <td>{{ object.valor_emprestado }}</td>
            </tr>
            <tr>
                <th class="text-right">Parcelas</th>
                <td>{{ object.qtd_parcelas }}</td>
            </tr>
            <tr>
                <th class="text-right">Prestacao</th>
                <td>{{ object.valor_prestacao }}</td>
            </tr>
            <tr>
                <th class="text-right">Data do Empréstimo</th>
                <td type="form-control">{{ object.data_emprestimo }}</td> 
                <td >{{ object.data_emprestimo.day }}/{{ object.data_emprestimo.month }}/{{ object.data_emprestimo.year }}</td>                
            </tr>            
        </tbody>
    </table>
</div>


{% endblock content %}