{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<span class="pull-right">

    <a href="{% url 'emprestimo:emprestimo_list' %}" type="button" class="btn btn-secondary">Voltar</a>
    <a href="{% url 'emprestimo:emprestimo_edit' object.pk %}" type="button" class="btn btn-info">Editar</a>
   
    <div class="btn-group" role="group" >
        <a href="{% url 'emprestimo:emprestimo_impress' object.pk %}" type="button" class="btn btn-warning">Carnê</a>
        <a href="{% url 'emprestimo:emprestimo_promissoria' object.pk %}" type="button" class="btn btn-warning">Promissória</a>
        <a href="{% url 'emprestimo:emprestimo_contrato' object.pk %}" type="button" class="btn btn-warning">Contrato</a>
    </div>

    
</span>

<h1>Emprestimo Nº {{ object.num_doc }}</h1>

<div class="col-sm-6">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-right">funcionario</th>
                <td>{{ object.funcionario }}</td>
            </tr>
            <tr>
                <th class="text-right">Nº Documento</th>
                <td>{{ object.num_doc }}</td>
            </tr>
            <tr>
                <th class="text-right">Cliente</th>
                <td>{{ object.cliente }}</td>
            </tr>
            <tr>
                <th class="text-right">Valor</th>
                <td>{{ object.valor_emprestado }}</td>
            </tr>
            <tr>
                <th class="text-right">Parcelas</th>
                <td>{{ object.qtd_parcelas }}</td>
            </tr>
            <tr>
                <th class="text-right">Prestacao</th>
                <td>{{ object.valor_prestacao }}</td>
            </tr>
            <tr>
                <th class="text-right">Data do Empréstimo</th>
                <td type="form-control">{{ object.data_emprestimo }}</td>                               
            </tr>            
        </tbody>
    </table>
</div>




{% endblock content %}