{% extends "base.html" %}

{% block content %}


<div class="class page-header">
    <h2>Lista de Emprestimos
        <span class="pull-right">
            <a href="{% url 'emprestimo:emprestimo_add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span>Adicionar
                </button>
            </a>
        </span>
    </h2>
    
    {% if object_list %}
    
        <table class="table table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>cliente</th>                    
                    <th>num_doc</th>                    
                    <th>valor_emprestado</th>                    
                    <th>qtd_parcelas</th>  
                    <th>Data do Emprestimo</th>  
                    <th>funcionario</th>                    
                </tr>
            </thead>
            <tbody>
                {% for object in object_list  %}   
                <tr>
                    <td>{{ object.cliente }}</td>
                    <td style="text-align:center">{{ object.num_doc }}</td>
                    <td style="text-align:right">{{ object.valor_emprestado }}</td>
                    <td style="text-align:right">{{ object.qtd_parcelas }}x</td>  
                    <td style="text-align:center">{{ object.data_emprestimo|date:"d/m/Y" }}</td>  
                    <td style="text-align:center"> 
                        <a href="{{ object.get_absolute_url}}" >Editar</a> 
                    </td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">Sem Emprestimos cadastrados</p>
    {% endif %}

</div>

{% endblock content %}