{% extends "base.html" %}

{% block content %}

<h2>Lista de emprestimos
    <span class="pull-right">
        <a href="{% url 'emprestimo:emprestimo_entrada_add' %}"> 
            <button type="button" class="btn btn-primary">
                <span class="fa fa-plus">Adicionar</span>
            </button>
        </a>
    </span>
</h2>

{% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Funcionário</th>
                <th>Nº Documento</th>
                <th>Movimento</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">{{ object.funcionario }}</a>
                    </td>
                    <td>{{ object.num_doc }}</td>
                    <td>{{ object.movimento }}</td>
                </tr>  
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}

<h4>Aqui são os emprestimos gerais na ordem cronologica</h4>

{% endblock content %}