{% extends "base.html" %}

{% block content %}

<a href="{% url 'emprestimo:emprestimo_entrada_list' %}">Voltar</a>

<h1>{{ object }}</h1>


<div class="col-sm-6">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-right">Nº do Documento</th>
                <td>{{ object.num_doc }}</td>
            </tr>
            <tr>
                <th class="text-right">Funcionário</th>
                <td>{{ object.funcionario.first_name }}</td>
            </tr>
            <tr>
                <th class="text-right">Movimento</th>
                <td>{{ object.movimento }}</td>
            </tr>
        </tbody>
    </table>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Emprestimo</th>
            <th>Cliente</th>
            <th>Valor do Emprestimo</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object.emprestimos.all  %}
            <tr>
                <td>{{ obj.emprestimo }}</td>
                <td>{{ obj.cliente }}</td>
                <td>{{ obj.valor_emprestado }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}