{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

<!--  -->
<!-- ESTUDO COMPLETO DE FORMSET -->
<!-- https://docs.djangoproject.com/en/3.0/topics/forms/formsets/ -->
<!--  -->

{% block content %}

    {% if emprestimo %}
        <h1>Editar {{emprestimo.cliente}}</h1>
        <form action="{% url 'emprestimo:emprestimo_edit' emprestimo.pk %}" method="POST" novalidate>
    {% else %}  
        <h1>Cadastrar um Novo Empréstimo</h1>
        <form action="{% url 'emprestimo:emprestimo_add' %}" method="POST" novalidate>
    {% endif %}
    {% csrf_token %}

    <div class="row">       
        <div class="col-sm-3"> 
            <div class="form-group">
                <label for="">{{form.num_doc.label}}</label>
                {% render_field form.num_doc class="form-control" %}                       
            </div>
        </div>        
        <div class="col-sm-3">
            <div class="form-group">
                <label for="">{{form.cliente.label}}</label>
                {% render_field form.cliente type="text" class="form-control" %}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="">{{form.cliente_cnpj.label}}</label>
                {% render_field form.cliente_cnpj type="text" class="form-control" %}
            </div>
        </div>
        <div class="col-sm-3"> 
                <div class="form-group">
                    <label for="">{{form.valor_emprestado.label}}</label>
                    {% render_field form.valor_emprestado class="form-control" id="valor_emprestado"  %}                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.qtd_parcelas.label}} </label>                
                    {% render_field form.qtd_parcelas class="form-control" id="qtd_parcelas" value="1" %}
                </div>
            </div>
            <div class="col-sm-3"> 
                <div class="form-group">
                    <label for="">{{form.valor_prestacao.label}}</label>
                    {% render_field form.valor_prestacao class="form-control" %}                       
                </div>
        </div> 
        {% if object.pk %} <!-- if object.data_emprestimo é isso que ele quer dizer -->           
            <div class="col-sm-3"> 
                <div class="form-group">
                    <label for="">{{form.data_emprestimo.label}}</label>
                    {% render_field form.data_emprestimo class="form-control" id="data_emprestimo" %}                       
                </div>
            </div>       
        {% else %}            
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">{{form.data_emprestimo.label}}</label>   
                    {% render_field form.data_emprestimo class="form-control" type="date" %} 
                </div>  
            </div>            
        {% endif %} 
    </div>

    {% if emprestimo %}   
        <button type="submit" class="btn btn-success">Salvar Alterações</button>     
        <a href="{% url 'emprestimo:emprestimo_pagamento_add' emprestimo.pk %}" class="btn btn-primary">Realizar pagamento</a> 
    {% else %}
        <a href="{% url 'emprestimo:emprestimo_list' %}" type="button" class="btn btn-danger">Cancelar</a>        
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
    {% endif %}
    
  
    <script>
        function toFixed(num, fixed) {
            var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
            return num.toString().match(re)[0];
        }
        
        function prestacao1(){
            var tvalor_emprestado = document.getElementById('valor_emprestado')
            var tqtd_parcelas     = document.getElementById('qtd_parcelas')
            var tprestacao        = document.getElementById('prestacao')

            var valor_emprestado = Number(tvalor_emprestado.value)
            var qtd_parcelas     = Number(tqtd_parcelas.value)
            var prestacao        = Number(tprestacao.value)

            
            var iof_inicial = 0
            var iof_diario  = 0.0041
            var qut_dias = 0


            for (var i = 0 ; i < 2; i++){
                valor_emprestado = Number(valor_emprestado.value)
                qtd_parcelas = Number(qtd_parcelas.value)
    
                var s = valor_emprestado*qtd_parcelas
    
                iof_inicial = ((500*(30*0.0041))/100)
                iof_inicial = toFixed(iof_inicial, 3)
            }

            document.getElementById('prestacao').value = iof_inicial
        }

    </script> 
{% endblock content %}


