{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block js %}{% endblock js %}


<!--  -->
<!-- ESTUDO COMPLETO DE FORMSET -->
<!-- https://docs.djangoproject.com/en/3.0/topics/forms/formsets/ -->
<!--  -->

{% block content %}

    {% if emprestimo %}
        <h1>Editar {{emprestimo.cliente}}</h1>
        <form action="{% url 'emprestimo:emprestimo_edit' emprestimo.pk %}" method="POST" novalidate>
    {% else %}  
        <h1>Cadastrar um Novo Empréstimo</h1>
        <form action="{% url 'emprestimo:emprestimo_add' %}" method="POST" novalidate>
    {% endif %}
    {% csrf_token %}

    <div class="row"> 
        <div class="col-sm-3">
            <div class="form-group">
                <label for="">{{form.cliente.label}}</label>
                {% render_field form.cliente type="text" class="form-control" %}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="">{{form.cliente_cnpj.label}}</label>
                {% render_field form.cliente_cnpj type="text" class="form-control" %}
            </div>
        </div>
        <div class="col-sm-3"> 
                <div class="form-group">
                    <label for="">{{form.valor_emprestado.label}}</label>
                    {% render_field form.valor_emprestado class="form-control" id="valor_emprestado" %}                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.qtd_parcelas.label}} </label>                
                    {% render_field form.qtd_parcelas class="form-control" id="qtd_parcelas" %}
                </div>
            </div>
            {% if object.pk %}         
                <div class="col-sm-3"> 
                    <div class="form-group">
                        <label for="">{{form.data_emprestimo.label}}</label>
                        {% render_field form.data_emprestimo class="form-control" id="dataselecionada" %}                       
                    </div>
                </div>
            {% else %}            
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">{{form.data_emprestimo.label}}</label>   
                        {% render_field form.data_emprestimo class="form-control" id="dataselecionada" type="date" onblur="somar(),sequencial()" %}                    
                    </div>                  
                </div>            
            {% endif %}  
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">{{form.data_teste.label}}</label>   
                    {% render_field form.data_teste class="form-control" id="dataselecionada" type="date" onblur="somar(),sequencial()" %}                    
                </div>                  
                </div>     
            <div class="col-sm-3" > 
                <div class="form-group" id="res">
                    <label for="">{{form.valor_prestacao.label}}</label>
                    {% render_field form.valor_prestacao class="form-control" id="prestacao" %}
                </div>  
            </div>  
            <div class="col-sm-3" > 
                <div class="form-group">            
                    {% render_field form.n_contrato class="form-control" id="teste" type="hidden" %}                       
                </div>
            </div>
        </div>           
        
        {% if emprestimo %}   
        <button type="submit" class="btn btn-success" >Salvar Alterações</button>     
        <a href="{% url 'emprestimo:emprestimo_pagamento_add' emprestimo.pk %}" class="btn btn-primary">Realizar pagamento </a> 
        
        {% else %}
        <a href="{% url 'emprestimo:emprestimo_list' %}" type="button" class="btn btn-danger">Cancelar</a>        
        <button type="submit" class="btn btn-success" >Cadastrar</button>
    </form>
    <button  onclick="somar()" class="btn btn-info">Calcular Parcela</button>
    {% endif %}
    <br>
    
    

<script>    
    //VERIFICAR A FUNCIONALIDADE DESSE SCRIPT!!!!!!!!!!!!!!
    function toFixed(num, fixed) {
        var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
        return num.toString().match(re)[0];
    }            
    //CALCULA AS PARCELAS E TAXAS DO EMPRÉSTIMO
    function somar(){
        var tvalor_emprestado  = document.getElementById('valor_emprestado')
        var tqtd_parcelas      = document.getElementById('qtd_parcelas')
        var tprestacao         = document.getElementById('prestacao')
        var mes                = document.getElementById("dataselecionada").value.split("-")[1];        

        var valor_emprestado   = Number(tvalor_emprestado.value)                
        var qtd_parcelas       = Number(tqtd_parcelas.value)
        var prestacao          = Number(tprestacao.value)
        var mes_num            = Number(mes)
        
        var principal          = valor_emprestado/qtd_parcelas    

        var iof_inicial        = 0
        var iof_diario         = 0.0041        
        var qtd_dias           = 0
        var iof_adicional      = 0.0038   

        //CALCULA O IOF_INICIAL (1º PASSO)
        for (var i = 0 ; i < qtd_parcelas; i++){
            if(mes_num == 1 || mes_num == 3 || mes_num == 5 || mes_num == 7 || mes_num == 8 || mes_num == 10 || mes_num == 12){
                qtd_dias += 31
            }else{
                qtd_dias +=30
            }
            mes_num+=1
            if(mes_num == 13){
                mes_num = 1
            }        
            iof_inicial += ((principal*(qtd_dias*0.0041))/100)         
            iof_inicial += principal*iof_adicional
            iof_inicial = Number(toFixed(iof_inicial, 2))        
        }    

        //CALCULA O IOF_REAL (2º PASSO)   
        var iof_real = 0
        iof_real = (valor_emprestado*iof_inicial)/(valor_emprestado-iof_inicial)           

        //CALCULA O VALOR DA PARCELA(3º PASSO)
        var valor_emprestado   = Number(tvalor_emprestado.value)                
        var qtd_parcelas       = Number(tqtd_parcelas.value)
        var prestacao          = Number(tprestacao.value)
        var cap_iof = iof_real+valor_emprestado
        var valor_parcela = 0
        valor_parcela = (cap_iof*(1+(qtd_parcelas*9.5)/100))/qtd_parcelas
        valor_parcela = String(toFixed(valor_parcela, 2))  

        document.getElementById('prestacao').value = valor_parcela
    }

    //GERA UM NUMERO SEQUENCIAL BASEADO NA DATA E HORA ATUAL
    function sequencial(){
        var dt=new Date()  
        
        var ano       = document.getElementById("dataselecionada").value.split("-")[0];
        var mes       = document.getElementById("dataselecionada").value.split("-")[1];
        var dia       = document.getElementById("dataselecionada").value.split("-")[2];   
        var hora      = String(dt.getHours())
        var minutos   = String(dt.getMinutes())

        var sequencia = ano
        var sequencia = sequencia+mes
        if(dia<10){
            sequencia += '0'
        }
        var sequencia = sequencia+dia        
        var sequencia = sequencia+hora        
        var sequencia = sequencia+minutos        
        // document.write(sequencia)

        document.getElementById('teste').value = sequencia
    }
       
</script>
  
    
{% endblock content %}


    