<!DOCTYPE html>
<html charset="UTF-8">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- CSS para impressão -->
    <link rel="stylesheet" type="text/css" href="/print.css" media="print" />
   
<style>
    body {
        font-family: "Arial";      
    }
    .tabela{
        border: 1px solid black;        
        margin-bottom: 10px;  
        background-color: lightblue;        
        font-family: "Arial";
    }
    .document {
        margin: auto auto;
        width: 236mm;
        height: 108mm;
        background-color: #fff;
        padding-bottom: 150px;
    }   
    h2{
        text-align: center;
        padding: 10px;  
    }
    .fontmenor{
        font-size: 17px;
        padding: 5px; 
        margin: 28px; 
        text-align: justify;
    }
    /*OMITE O ENDEREÇO DA PAGINA NA HORA DA IMPRESSÃO*/
    @page{
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
    }  
    table {
        text-align: center;
        width: 80%;
        position: center;
        border-collapse: collapse;        
        margin-left: 90px;
    } 
    /*CSS para impressão*/
    @media print {
        
    }
    
    body {
        margin:0;
        padding:0;
        line-height: 1.4em;
    }
    @page {
        margin: 0.5cm;
       
    }
    
    
</style>
</head>
<body>
    
    <div class="document">
        <div id = "contrato" class="col-sm-6">
           
        </div>
    </div>  
    
<script>

window.onload = function imprimir(){

    //VARIÁVEIS DO FUNCIONÁRIO
    var funcionario = "{{object.funcionario}}"
    
    //VARIÁVEIS DA DATA DO EMPRESTIMO
    var contador_meses = 0
    var contador_anos  = 0
    var dataEmprestimo = "{{ object.data_emprestimo}}"		
    var dia
    var mes
    var ano
    var aux_dia = {{object.data_emprestimo.day}}
    var aux_mes = {{object.data_emprestimo.month}}
    var aux_ano = {{object.data_emprestimo.year}}

    //VARIÁVEIS DO EMPRESTIMO
    var aux_qtd_parccela = {{object.qtd_parcelas}}
    var dinheiro = 0
    dinheiro = "{{object.valor_prestacao}}"
    
    var qtd_parcelas = parseInt("{{object.qtd_parcelas}}")
    qtd_parcelas_extenso = String(qtd_parcelas).extenso()

    var data_emissao = "{{object.data_emprestimo|date:"d/m/Y"}}"
    var valor_da_parcela = parseFloat("{{object.valor_prestacao|floatformat:2}}".replace(',', '.'))
    var valor_da_parcela_int = parseInt("{{object.valor_prestacao|floatformat:2}}".replace(',', '.'))
    
    var valor_multa = parseFloat((valor_da_parcela*0.020)).toFixed(2)			
    var valor_juros_dia = (valor_da_parcela*0.0066).toFixed(2)
    var contador_parcela = 0
    
    var real = parseInt('{{object.valor_prestacao}}')	
    real = String(real).extenso()
    
    var centavos = parseFloat((valor_da_parcela-valor_da_parcela_int)).toFixed(2)	
    centavos = String(centavos).extenso()
    
    //VARIÁVEIS DO CLIENTE
    var cliente_nome = "{{object.cliente}}"
    var cpf = "{{object.cliente.cpf}}"    
    var rg = "{{object.cliente.rg}}"    
    var naturalidade = "{{object.cliente.naturalidade}}"
    var orgao_expedidor = "{{object.cliente.orgao_expedidor}}"
    var estado_civil = "{{object.cliente.estado_civil}}"
    var rua = "{{object.cliente.rua}}"
    var bairro = "{{object.cliente.bairro}}"
    var cidade = "{{object.cliente.cidade}}"
    var uf = "{{object.cliente.uf}}"
    var numero_casa = "{{object.cliente.numero_casa}}"
    var cep = "{{object.cliente.cep}}"

    //VARIÁVEIS DO AVALISTA
    var avalista = "{{object.cliente.avalista.avalista}}"
    var cpf_avalista = "{{object.cliente.avalista.cpf_avalista}}"

    dia  = aux_dia
    mes  = aux_mes+contador_meses
    ano  = aux_ano
   
    contrato.innerHTML +=
    `
        <h2> CONTRATO DE MÚTUO </h2>
        <p class="fontmenor" >Pelo presente contrato particular de empréstimo de dinheiro,de um lado, Josimério de Abreu Silva, (Brasileiro, Solteiro, RG 1.791.746 SSP RN, CPF 029.388.274-66), 
        de ora em diante denominado simplesmente por CREDOR, e, de outro lado, ${cliente_nome}
        (${naturalidade}, ${estado_civil}, Funcionário Privado, RG ${rg} ${orgao_expedidor}, CPF ${cpf}, 
        ${rua}, ${numero_casa}, ${bairro}, ${cidade} ${uf} de ora em diante denominado simplesmente DEVEDOR, 
        têm justo e contratado o seguinte:</p>

        <p class="fontmenor">
        <b>CLÁUSULA 1ª</b>  - O <b>DEVEDOR</b> e seu(s) fiador(es) se comprometem a pagar ao <b>CREDOR</b> 
        a título de empréstimo, a quantia acertada de R$ ${"{{object.valor_prestacao}}"} (${real} reais e ${centavos} centavos), 
        dividida em ${"{{object.qtd_parcelas}}"}(${qtd_parcelas_extenso}) parcelas de iguais valores, já acrescidos de juros remuneratórios, 
        nos moldes da legislação em vigor (Dec. 22.626/33 c/c art. 591 CC/02), pagas conforme boleto bancário, ou outro meio disponibilizado e 
        pactuado, mediante as condições seguintes.
        </p>

        <p class="fontmenor">
        <b>CLÁUSULA 2ª</b> - Que a quantia acima emprestada, parcelada, deverá ser adimplida ao CREDOR no dia,
        </p>
    `
    +
    `
    <table cellspacing="0" cellpadding="0" border="1">       
        <tr>
            <td width="33%" >
                <p class="content "><b>PARCELAS</b></p>	
            </td>
            <td width="33%">
                <p class="content "><b>VENCIMENTO</b></p>	
            </td>
            <td width="39%" >
                <p class="content "><b>VALOR</b></p>
            </td>						
        </tr>
    </table>
    `
    for(var i=0; i<{{object.qtd_parcelas}}; i++){
        contador_parcela++
        mes++

        //AJUSTA A DATA QUANDO O MES É FEVEREIRO 
        if(dia == 30 && mes == 2){
            dia = 1 
            mes = 3
        }
        
        //AJUSTA MESES E ANOS 
        if(mes == 13){
            contador_meses = 0
            aux_mes = 1
            mes = 1	
            aux_ano++
            ano++				
        }
    contrato.innerHTML +=
    `
    <table cellspacing="0" cellpadding="0" border="1">       
        <tr>
            <td width="33%" >
                <p class="content "><b>${contador_parcela}/${aux_qtd_parccela}</b></p>
            </td>
            <td width="33%">
                <p class="content right text">${dia}/${mes}/${ano}&nbsp</p>
            </td>
            <td width="39%" >
                <p class="content right text">R$ ${"{{object.valor_prestacao}}"}&nbsp</p>
                
            </td>						
        </tr>
    </table>
       
    `
    }
    contrato.innerHTML +=
    `
    
        <p class="fontmenor" style="page-break-before: always;">
            <p class="fontmenor">
                <b>CLÁUSULA 3ª</b> - Na falta do pagamento do empréstimo na data aprazada, o DEVEDOR pagará uma multa no percentual de 
                2% mais juros moratório sobre o débito no percentual de 0.66%, por dia, acrescido de correção monetária sobre o montante 
                apurado, ficando o CREDOR com direito de tomar as medidas judiciais cabíveis, inclusive a penhora judicial e conseguinte 
                notificação e negativação nos órgãos de proteção creditícios SPC, SERASA, SCPC e afins, conforme art. 43 do estatuto 
                consumerista.
            </p>
            <p class="fontmenor">
                <b>CLÁUSULA 4ª</b> - O(s) <b>FIADOR(ES)</b> na qualidade de devedor (s) principal e solidário, também presente neste ato e 
                ao final qualificado e assinado, se compromete a honrar o presente contrato em seu inteiro teor, substituindo o <b>DEVEDOR</b>
                em todas as obrigações contratuais assumidas, inclusive o pagamento pontual do principal, bem como os demais ônus enxertados 
                neste contrato, quer decorrentes de acréscimos legais, quer de despesas judiciais se sujeitando aos ditames dos arts. 818 a 826, CC/02.
            </p>
            <p class="fontmenor">
                <b>CLÁUSULA 5ª</b> - Todos os encargos que venham a recair durante o período de inadimplência do <b>DEVEDOR</b>, como gastos judiciais e 
                honorários, serão de inteira responsabilidade do <b>DEVEDOR</b>, devendo ser acrescidos na dívida originalmente pactuada.
            </p>
            <p class="fontmenor">
                <b>CLÁUSULA 6ª</b> - Fica eleito o foro desta cidade de Natal/RN, para dirimir qualquer dúvida referente a este contrato.
            </p>
            <p class="fontmenor">
                E assim, por estarem plenamente contratados na forma acima e em consonância com a legislação em vigor, assinam o presente contrato em 
                duas vias de igual teor, na presença de testemunhas que a tudo assistiram e conhecimentos tiveram.
            </p>
            <p class="fontmenor">
               _________________________________________ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp_________________________________________
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCREDOR     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DEVEDOR
            </p>
            <p class="fontmenor">
                <b>FIADOR 1:</b> - ${"{{object.cliente.avalista.avalista}}"}
                (${"{{object.cliente.avalista.estado_civil_avalista}}"}, Funcionário Privado, RG ${"{{object.cliente.avalista.rg_avalista}}"} 
                ${"{{object.cliente.avalista.orgao_expedidor_avalista}}"}, CPF ${"{{object.cliente.avalista.cpf_avalista}}"}, 
                ${"{{object.cliente.avalista.rua}}"}, ${"{{object.cliente.avalista.numero_casa}}"}, ${"{{object.cliente.avalista.bairro}}"}, 
                ${"{{object.cliente.avalista.cidade}}"} ${"{{object.cliente.avalista.uf}}"}
            </p>
           

        </p>
       
    `
}


String.prototype.extenso = function(c){
    var ex = [
        ["zero", "um", "dois", "três", "quatro", "cinco", "seis", "sete", "oito", "nove", "dez", "onze", "doze", "treze", "quatorze", "quinze", "dezesseis", "dezessete", "dezoito", "dezenove"],
        ["dez", "vinte", "trinta", "quarenta", "cinquenta", "sessenta", "setenta", "oitenta", "noventa"],
        ["cem", "cento", "duzentos", "trezentos", "quatrocentos", "quinhentos", "seiscentos", "setecentos", "oitocentos", "novecentos"],
        ["mil", "milhão", "bilhão", "trilhão", "quadrilhão", "quintilhão", "sextilhão", "setilhão", "octilhão", "nonilhão", "decilhão", "undecilhão", "dodecilhão", "tredecilhão", "quatrodecilhão", "quindecilhão", "sedecilhão", "septendecilhão", "octencilhão", "nonencilhão"]
    ];
    var a, n, v, i, n = this.replace(c ? /[^,\d]/g : /\D/g, "").split(","), e = " e ", $ = "real", d = "centavo", sl;
    for(var f = n.length - 1, l, j = -1, r = [], s = [], t = ""; ++j <= f; s = []){
        j && (n[j] = (("." + n[j]) * 1).toFixed(2).slice(2));
        if(!(a = (v = n[j]).slice((l = v.length) % 3).match(/\d{3}/g), v = l % 3 ? [v.slice(0, l % 3)] : [], v = a ? v.concat(a) : v).length) continue;
        for(a = -1, l = v.length; ++a < l; t = ""){
            if(!(i = v[a] * 1)) continue;
            i % 100 < 20 && (t += ex[0][i % 100]) ||
            i % 100 + 1 && (t += ex[1][(i % 100 / 10 >> 0) - 1] + (i % 10 ? e + ex[0][i % 10] : ""));
            s.push((i < 100 ? t : !(i % 100) ? ex[2][i == 100 ? 0 : i / 100 >> 0] : (ex[2][i / 100 >> 0] + e + t)) +
            ((t = l - a - 2) > -1 ? " " + (i > 1 && t > 0 ? ex[3][t].replace("ão", "ões") : ex[3][t]) : ""));
        }
        a = ((sl = s.length) > 1 ? (a = s.pop(), s.join(" ") + e + a) : s.join("") || ((!j && (n[j + 1] * 1 > 0) || r.length) ? "" : ex[0][0]));
        a && r.push(a + (c ? (" " + (v.join("") * 1 > 1 ? j ? d + "s" : (/0{6,}$/.test(n[0]) ? "de " : "") + $.replace("l", "is") : j ? d : $)) : ""));
    }
    return r.join(e);
}
</script>
</body>
</html>
