{% extends "base.html" %}

{% block content %}

<span class="pull-right">
    <a href="{% url 'cliente_cnpj:cliente_cnpj_list' %}" type="button" class="btn btn-secondary">Voltar</a>
    <a href="{% url 'cliente_cnpj:cliente_cnpj_edit' object.pk %}" type="button" class="btn btn-info">Editar</a>
    <a href="{% url 'cliente_cnpj:cliente_cnpj_delete' object.pk %}" type="button" class="btn btn-danger">Deletar</a>
</span>

<h1>{{ object }}</h1>

<div class="row">       
    <div class="col-sm-6"> 
        <div class="form-group">
            <input type="text" value="{{ object.nome_fantasia }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <input type="text" value="{{ object.fundacao }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <input type="text" value="{{ object.forma_constituicao }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <input type="text" value="{{ object.inscricao_estadual }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <input type="text" value="{{ object.inscricao_municipal }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <input type="text" value="{{ object.email }}" readonly class="form-control">
        </div>
    </div>
</div>

<!-- <div class="col-sm-6">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-right">Nome</th>
                <td>{{ object.nome_fantasia }}</td>
            </tr>
            <tr>
                <th class="text-right">Fundação</th>
                <td>{{ object.fundacao }}</td>
            </tr>
            <tr>
                <th class="text-right">CPF</th>
                <td>{{ object.forma_constituicao }}</td>
            </tr>                      
            <tr>
                <th class="text-right">Telefone</th>
                <td>{{ object.inscricao_estadual }}</td>
            </tr>
            <tr>
                <th class="text-right">Telefone</th>
                <td>{{ object.inscricao_municipal }}</td>
            </tr>
            <tr>
                <th class="text-right">Telefone</th>
                <td>{{ object.email }}</td>
            </tr>
           
            
        </tbody>
    </table>
</div> -->

{% endblock content %}