{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<style>

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

</style>

<span class="pull-right">
    <a href="{% url 'cliente_cnpj:cliente_cnpj_list' %}" type="button" class="btn btn-secondary no-print">Voltar</a>
    <a href="{% url 'cliente_cnpj:cliente_cnpjupdate' object.pk %}" type="button" class="btn btn-info no-print">Editar</a>
    <a href="{% url 'cliente_cnpj:cliente_cnpj_delete' object.pk %}" type="button" class="btn btn-danger no-print">Deletar</a>
    <a href="" type="button" onclick="window.print()" class="btn btn-warning no-print">Imprimir</a>
    <!-- <button onclick="window.print()">Print this page</button> -->
</span>
<h2>DETALHES(CNPJ) <br> {{ object.razao_social }}</h2>
<div class="row">       
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Razão Social</label>
            <input  value="{{ object.razao_social }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Nome Fantasia</label>
            <input  value="{{ object.nome_fantasia }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>CNPJ</label>
            <input type="text" value="{{ object.cnpj }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Fundação</label>
            <input type="text" value="{{ object.fundacao }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Forma Constituição</label>
            <input type="text" value="{{ object.forma_constituicao }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Inscrição Estadual</label>
            <input type="text" value="{{ object.inscricao_estadual }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Inscrição Municipal</label>
            <input type="text" value="{{ object.inscricao_municipal }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Representante</label>
            <input type="text" value="{{ object.cep }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Representante</label>
            <input type="text" value="{{ object.rep_nome }}" readonly class="form-control">
        </div>
    </div>
</div>
<h2> ENDEREÇO </h2>
<div class="row"> 
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>CEP</label>
            <input type="text" value="{{ object.cep }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Rua</label>
            <input type="text" value="{{ object.rua }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Bairro</label>
            <input type="text" value="{{ object.bairro }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Cidade</label>
            <input type="text" value="{{ object.cidade }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Estado</label>
            <input type="text" value="{{ object.uf }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Nº</label>
            <input type="text" value="{{ object.numero_casa }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Ponto de Referencia</label>
            <input type="text" value="{{ object.ponto_referencia }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Complemento</label>
            <input type="text" value="{{ object.complemento }}" readonly class="form-control">
        </div>
    </div>
</div>
<h2> CONTATO </h2>
<div class="row">
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Email</label>
            <input type="text" value="{{ object.email }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Email</label>
            <input type="text" value="{{ object.email }}" readonly class="form-control">
        </div>
    </div>

</div>
<h2> DADOS BANCÁRIOS </h2>
<div class="row"> 
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>banco</label>
            <input type="text" value="{{ object.banco }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Agência</label>
            <input type="text" value="{{ object.n_operacao }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>conta</label>
            <input type="text" value="{{ object.tipo_de_conta }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>obs_bancaria</label>
            <input type="text" value="{{ object.agencia }}" readonly class="form-control">
        </div>
    </div> 
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>obs_bancaria</label>
            <input type="text" value="{{ object.conta }}" readonly class="form-control">
        </div>
    </div>    
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Contato 1</label>
            <input type="text" value="{{ object.contato1 }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Contato 2</label>
            <input type="text" value="{{ object.contato2 }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Celular 1</label>
            <input type="text" value="{{ object.celular1 }}" readonly class="form-control">
        </div>
    </div>
    <div class="col-sm-6"> 
        <div class="form-group">
            <label>Celular 2</label>
            <input type="text" value="{{ object.celular2 }}" readonly class="form-control">
        </div>
    </div>
</div>




{% endblock content %}
