{% extends "base.html" %}
{% load widget_tweaks %}
{% block js %}{% endblock js %}
{% block content %}

<style>

    h3{
        background-color: rgb(233, 233, 233);
    }
    
    body {font-family: Arial;}
    
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
      -webkit-animation: fadeEffect 1s;
    }
    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
</style>

   <!-- https://www.schoolofnet.com/forum/topico/como-enviar-a-mensagem-de-sucesso-ou-erro-para-o-formulario-8495 -->    

    <div class="tab">
        <button class="tablinks active" onclick="openCity(event, 'Page1')">Empresa</button>        
        <button class="tablinks" onclick="openCity(event, 'Page2')">Representante</button>
        {% comment %} <button class="tablinks" onclick="openCity(event, 'Page3')">Fiador</button> {% endcomment %}
    </div>
    
    <div id="Page1" class="tabcontent" style="display:block">

        {% if cliente_cnpj %}
            <h1>Editar {{cliente_cnpj.razao_social}}</h1>
            <form action="{% url 'cliente_cnpj:cliente_cnpjupdate' cliente_cnpj.pk %}" method="POST" novalidate>
        {% else %}
            <form action="{% url 'cliente_cnpj:cliente_cnpj_add' %}" method="POST">
        {% endif %}
        {% csrf_token %}       
        <br>
        <h3>CADASTRO EMPRESA</h3>
        <div class="row" > 
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.razao_social.label}} </label>        
                    {% render_field form.razao_social class="form-control" %}
                </div>
            </div>    
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.nome_fantasia.label}} </label>        
                    {% render_field form.nome_fantasia class="form-control" %}
                </div>
            </div>        
           
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.cnpj.label}} </label>        
                    {% render_field form.cnpj class="form-control cnpj-mask" %}
                </div>
            </div>  
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.fundacao.label}} </label>        
                    {% render_field form.fundacao class="form-control" type="date"%}
                </div>
            </div>  
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.forma_constituicao.label}} </label>        
                    {% render_field form.forma_constituicao class="form-control" %}
                </div>
            </div>    
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.inscricao_estadual.label}} </label>        
                    {% render_field form.inscricao_estadual class="form-control" %}
                </div>
            </div> 
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.inscricao_municipal.label}} </label>        
                    {% render_field form.inscricao_municipal class="form-control" %}
                </div>
            </div>             
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.fiador.label}} </label>        
                    {% render_field form.fiador class="form-control" %}
                </div>
            </div>
        </div>  
        <hr/>
        <h3>ENDEREÇO</h3>  
        <hr/>
        <div class="row">
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.cep.label}} </label>        
                    {% render_field form.cep class="form-control" name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"%}                            
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.rua.label}} </label>        
                    {% render_field form.rua class="form-control" name="rua" type="text" id="rua" size="60" %}
                </div>
            </div>
            <div class="col-sm-1">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.numero_casa.label}} </label>        
                    {% render_field form.numero_casa class="form-control" name="rua" type="text" id="rua" size="60" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.bairro.label}} </label>        
                    {% render_field form.bairro class="form-control" name="bairro" type="text" id="bairro" size="40" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.cidade.label}} </label>        
                    {% render_field form.cidade class="form-control" name="cidade" type="text" id="cidade" size="40"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.uf.label}} </label>        
                    {% render_field form.uf class="form-control" name="uf" type="text" id="uf" size="2"%}
                </div>
            </div>            
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.ponto_referencia.label}} </label>        
                    {% render_field form.ponto_referencia class="form-control" %}
                </div>
            </div>   
        </div>  
        <hr>
        <h3>CONTATO</h3>  
        <hr/>
        <div class="row"> 
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.contato1.label}} </label>        
                    {% render_field form.contato1 class="form-control phone-mask"  type="text"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.contato2.label}} </label>        
                    {% render_field form.contato2 class="form-control phone-mask" type="text"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form.celular1.label}} </label>        
                    {% render_field form.celular1 class="form-control cel-phone-mask" type="text"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.celular2.label}} </label>        
                    {% render_field form.celular2 class="form-control cel-phone-mask" type="text"%}
                </div>
            </div>   
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.email.label}} </label>        
                    {% render_field form.email class="form-control" %}
                </div>
            </div>          
        </div> 
        <hr>
            <h3>DADOS BANCÁRIOS</h3>  
        <hr/>
        <div class="row">
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.agencia.label}} </label>        
                    {% render_field form.agencia class="form-control" %}
                </div>                    
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.conta.label}} </label>        
                    {% render_field form.conta class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.banco.label}} </label>        
                    {% render_field form.banco class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.obs_bancaria.label}} </label>        
                    {% render_field form.obs_bancaria class="form-control" %}
                </div>
            </div>
        </div>  
        <hr>
            <h3>REFERÊNCIAS</h3>  
        <hr/>
        <div class="row">            
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.ref1_nome.label}} </label>        
                    {% render_field form.ref1_nome class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.ref1_contato.label}} </label>        
                    {% render_field form.ref1_contato class="form-control cel-phone-mask" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.ref1_parentesco.label}} </label>        
                    {% render_field form.ref1_parentesco class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.ref2_nome.label}} </label>        
                    {% render_field form.ref2_nome class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.ref2_contato.label}} </label>        
                    {% render_field form.ref2_contato class="form-control cel-phone-mask" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.ref2_parentesco.label}} </label>        
                    {% render_field form.ref2_parentesco class="form-control" %}
                </div>
            </div>

        </div>
    </div> 
    {% comment %} REPRESENTANTE {% endcomment %}
     <div id="Page2" class="tabcontent">        
        <div class="row">
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_nome.label}} </label>        
                    {% render_field form.rep_nome class="form-control" %}
                </div>                    
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_cpf.label}} </label>        
                    {% render_field form.rep_cpf class="form-control cpf-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_rg.label}} </label>        
                    {% render_field form.rep_rg class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_contato1.label}} </label>        
                    {% render_field form.rep_contato1 class="form-control phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_celular1.label}} </label>        
                    {% render_field form.rep_celular1 class="form-control cel-phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_celular2.label}} </label>        
                    {% render_field form.rep_celular2 class="form-control cel-phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" >{{form.email.label}} </label>        
                    {% render_field form.email class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_cep.label}} </label>        
                    {% render_field form.rep_cep class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_rua.label}} </label>        
                    {% render_field form.rep_rua class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_bairro.label}} </label>        
                    {% render_field form.rep_bairro class="form-control" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_cidade.label}} </label>        
                    {% render_field form.rep_cidade class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_uf.label}} </label>        
                    {% render_field form.rep_uf class="form-control" %}
                </div>
            </div>
            <div class="col-sm-1">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_numero_casa.label}} </label>        
                    {% render_field form.rep_numero_casa class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.rep_ponto_referencia.label}} </label>        
                    {% render_field form.rep_ponto_referencia class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.agencia.label}} </label>        
                    {% render_field form.agencia class="form-control" %}
                </div>                    
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.conta.label}} </label>        
                    {% render_field form.conta class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.banco.label}} </label>        
                    {% render_field form.banco class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.obs_bancaria.label}} </label>        
                    {% render_field form.obs_bancaria class="form-control" %}
                </div>
            </div>        
        </div>  
            <div style='float: right;'>
                <button class="btn btn-success" float="right">Cadastrar</button>
            </div>
        </form>        
        </div>    
    </div> 
    {% comment %}
    <div id="Page3" class="tabcontent">  
         {% endcomment %}
    </div>
{% endblock content %}

 

