{% extends "base.html" %}
{% load widget_tweaks %}
{% block js %}{% endblock js %}
{% block content %}

<style>
    
    body {font-family: Arial;}
    
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
      -webkit-animation: fadeEffect 1s;
    }
    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
</style>

   <!-- https://www.schoolofnet.com/forum/topico/como-enviar-a-mensagem-de-sucesso-ou-erro-para-o-formulario-8495 -->    

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Page1')">Empresa</button>        
        <button class="tablinks" onclick="openCity(event, 'Page2')">Representante</button>
        <button class="tablinks" onclick="openCity(event, 'Page3')">Fiador</button>
    </div>
    
    <div id="Page1" class="tabcontent" style="display:block">

        {% if cliente_cnpj %}
            <h1>Editar {{cliente_cnpj.razao_social}}</h1>
            <form action="{% url 'cliente_cnpj:cliente_cnpjupdate' cliente_cnpj.pk %}" method="POST" novalidate>
        {% else %}
            <form action="{% url 'cliente_cnpj:cliente_cnpj_add' %}" method="POST">
        {% endif %}
        {% csrf_token %}       
        <br>

        <h2>CADASTRO EMPRESA</h2>
         <div class="row" > 
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.razao_social.label}} </label>        
                    {% render_field form1.razao_social class="form-control" %}
                </div>
            </div>    
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.nome_fantasia.label}} </label>        
                    {% render_field form1.nome_fantasia class="form-control" %}
                </div>
            </div>        
           
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.cnpj.label}} </label>        
                    {% render_field form1.cnpj class="form-control cnpj-mask" %}
                </div>
            </div>  
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.fundacao.label}} </label>        
                    {% render_field form1.fundacao class="form-control" type="date"%}
                </div>
            </div>  
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.form1a_constituicao.label}} </label>        
                    {% render_field form.forma_constituicao class="form-control" %}
                </div>
            </div>    
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.inscricao_estadual.label}} </label>        
                    {% render_field form1.inscricao_estadual class="form-control" %}
                </div>
            </div> 
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.inscricao_municipal.label}} </label>        
                    {% render_field form1.inscricao_municipal class="form-control" %}
                </div>
            </div> 
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.email.label}} </label>        
                    {% render_field form1.email class="form-control" %}
                </div>
            </div> 
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form1.representante.label}} </label>        
                    {% render_field form1.representante class="form-control" %}
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.cep.label}} </label>        
                    {% render_field form1.cep class="form-control" name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"%}                            
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.rua.label}} </label>        
                    {% render_field form1.rua class="form-control" name="rua" type="text" id="rua" size="60" %}
                </div>
            </div>
            <div class="col-sm-1">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.numero_casa.label}} </label>        
                    {% render_field form1.numero_casa class="form-control" name="rua" type="text" id="rua" size="60" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.bairro.label}} </label>        
                    {% render_field form1.bairro class="form-control" name="bairro" type="text" id="bairro" size="40" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.cidade.label}} </label>        
                    {% render_field form1.cidade class="form-control" name="cidade" type="text" id="cidade" size="40"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.uf.label}} </label>        
                    {% render_field form1.uf class="form-control" name="uf" type="text" id="uf" size="2"%}
                </div>
            </div>            
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form1.ponto_referencia.label}} </label>        
                    {% render_field form1.ponto_referencia class="form-control" %}
                </div>
            </div>   
        </div>  
        <div class="row"> 
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.contato1.label}} </label>        
                    {% render_field form1.contato1 class="form-control phone-mask"  type="text"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.contato2.label}} </label>        
                    {% render_field form1.contato2 class="form-control phone-mask" type="text"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" class="required">{{form1.celular1.label}} </label>        
                    {% render_field form1.celular1 class="form-control cel-phone-mask" type="text"%}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.celular2.label}} </label>        
                    {% render_field form1.celular2 class="form-control cel-phone-mask" type="text"%}
                </div>
            </div>            
        </div> 
        <div class="row">
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.agencia.label}} </label>        
                    {% render_field form1.agencia class="form-control" %}
                </div>                    
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.conta.label}} </label>        
                    {% render_field form1.conta class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form1.banco.label}} </label>        
                    {% render_field form1.banco class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form1.obs_bancaria.label}} </label>        
                    {% render_field form1.obs_bancaria class="form-control" %}
                </div>
            </div>
        </div>  
    </div> 
    {% comment %} REPRESENTANTE {% endcomment %}
     <div id="Page2" class="tabcontent">        
        <div class="row">
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_nome.label}} </label>        
                    {% render_field form1.rep_nome class="form-control" %}
                </div>                    
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_cpf.label}} </label>        
                    {% render_field form1.rep_cpf class="form-control cpf-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_rg.label}} </label>        
                    {% render_field form1.rep_rg class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_contato1.label}} </label>        
                    {% render_field form1.rep_contato1 class="form-control phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_celular1.label}} </label>        
                    {% render_field form1.rep_celular1 class="form-control cel-phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_celular2.label}} </label>        
                    {% render_field form1.rep_celular2 class="form-control cel-phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" >{{form1.email.label}} </label>        
                    {% render_field form1.email class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_cep.label}} </label>        
                    {% render_field form1.rep_cep class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_rua.label}} </label>        
                    {% render_field form1.rep_rua class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_bairro.label}} </label>        
                    {% render_field form1.rep_bairro class="form-control" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_cidade.label}} </label>        
                    {% render_field form1.rep_cidade class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_uf.label}} </label>        
                    {% render_field form1.rep_uf class="form-control" %}
                </div>
            </div>
            <div class="col-sm-1">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_numero_casa.label}} </label>        
                    {% render_field form1.rep_numero_casa class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form1.rep_ponto_referencia.label}} </label>        
                    {% render_field form1.rep_ponto_referencia class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.agencia.label}} </label>        
                    {% render_field form1.agencia class="form-control" %}
                </div>                    
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form1.conta.label}} </label>        
                    {% render_field form1.conta class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form1.banco.label}} </label>        
                    {% render_field form1.banco class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form1.obs_bancaria.label}} </label>        
                    {% render_field form1.obs_bancaria class="form-control" %}
                </div>
            </div>        
        </div>          
    </div> 
    <div id="Page3" class="tabcontent">  
         {% if cliente_cnpj %}     
            <h2>olá</h2>
        {% else %}     
        <div class="row">
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" >{{form2.fiador_nome.label}} </label>        
                    {% render_field form2.fiador_nome class="form-control" %}
                </div>                    
            </div>
        {% endif %} 
            {% comment %} 
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_cpf.label}} </label>        
                    {% render_field form.fiador_cpf class="form-control cpf-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_rg.label}} </label>        
                    {% render_field form.fiador_rg class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_contato1.label}} </label>        
                    {% render_field form.fiador_contato1 class="form-control phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_celular1.label}} </label>        
                    {% render_field form.fiador_celular1 class="form-control cel-phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_celular2.label}} </label>        
                    {% render_field form.fiador_celular2 class="form-control cel-phone-mask" type="text" %}
                </div>
            </div>
            <div class="col-sm-6">                    
                <div class="form-group" >                
                    <label for="" >{{form.email.label}} </label>        
                    {% render_field form.email class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_cep.label}} </label>        
                    {% render_field form.fiador_cep class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_rua.label}} </label>        
                    {% render_field form.fiador_rua class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_bairro.label}} </label>        
                    {% render_field form.fiador_bairro class="form-control" %}
                </div>
            </div>
            <div class="col-sm-3">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_cidade.label}} </label>        
                    {% render_field form.fiador_cidade class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_uf.label}} </label>        
                    {% render_field form.fiador_uf class="form-control" %}
                </div>
            </div>
            <div class="col-sm-1">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_numero_casa.label}} </label>        
                    {% render_field form.fiador_numero_casa class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.fiador_ponto_referencia.label}} </label>        
                    {% render_field form.fiador_ponto_referencia class="form-control" %}
                </div>
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.agencia.label}} </label>        
                    {% render_field form.agencia class="form-control" %}
                </div>                    
            </div>
            <div class="col-sm-2">                    
                <div class="form-group" >                
                    <label for="" >{{form.conta.label}} </label>        
                    {% render_field form.conta class="form-control" %}
                </div>
            </div>
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" >{{form.banco.label}} </label>        
                    {% render_field form.banco class="form-control" %}
                </div>
            </div>
            <div class="col-sm-5">                    
                <div class="form-group" >                
                    <label for="" >{{form.obs_bancaria.label}} </label>        
                    {% render_field form.obs_bancaria class="form-control" %}
                </div>
            </div>{% endcomment %}
        </div>
        <div style='float: right;'>
            <button class="btn btn-success" float="right">Cadastrar</button>
        </div>
        </form> 
    </div>
    
    {% comment %} <script>
        var cnpjcpf= $("#cpfcnpj").val().length;
     
        if(cnpjcpf < 11){
            $("#cpfcnpj").mask("999.999.999-99");
        } else {
            $("#cpfcnpj").mask("99.999.999/9999-99");
        } 
    </script> {% endcomment %}

{% endblock content %}

 

