{% extends "base.html" %}

{% load widget_tweaks %}

{% block css %}
    <style>
        label.required:after{
            content: "*";
            color: red;
        }
    </style>

    <style>
        label.error:after{
            content: " Campo já existente";
            color: rgb(0, 255, 55);
           
        }
    </style>
{% endblock css %}

{% block js %}{% endblock js %}

{% block content %}

<style>
    .f{
     background-color: rgb(255, 255, 255);
     width:: 300px;
     height: 500px;
     /*border: solid 1px black;*/
    }
    .button {
        background-color: rgb(46, 129, 83); 
        border: none;
        color: white;
        padding: 15px 52px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
      
    .button1 {border-radius: 8px;}
    .button2 {border-radius: 4px;}
    .button3 {border-radius: 8px;}
    .button4 {border-radius: 12px;}
    .button5 {border-radius: 50%;}
</style>

   <!-- https://www.schoolofnet.com/forum/topico/como-enviar-a-mensagem-de-sucesso-ou-erro-para-o-formulario-8495 -->

    <div id="all">
        <div class="f" id="tela1">

            <form method="POST">
            {% csrf_token %}    
            
            <h2>CADASTRO PESSOAL</h2>
            <div class="row">
                <div class="col-sm-5">                    
                    <div class="form-group" >                
                        <label for="" class="required" >{{form.nome.label}} </label>        
                        {% render_field form.nome class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-2">                    
                    <div class="form-group" >                
                        <label for="" class="required" >{{form.cpf.label}} </label>        
                        {% render_field form.cpf class="form-control cpf-mask" type="text" %}
                    </div>
                </div>
                <div class="col-sm-2">                    
                    <div class="form-group" >                
                        <label for="" class="required" >{{form.rg.label}} </label>        
                        {% render_field form.rg class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-3"> 
                    <div class="form-group">
                        <label for="">{{form.data_nasc.label}}</label>
                        {% render_field form.data_nasc class="form-control " type="date"%}                       
                    </div>
                </div>
                <div class="col-sm-4">                    
                    <div class="form-group" >                
                        <label for="" >{{form.nome_da_mae.label}} </label>        
                        {% render_field form.nome_da_mae class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-4">                    
                    <div class="form-group" >                
                        <label for="" >{{form.nome_do_pai.label}} </label>        
                        {% render_field form.nome_do_pai class="form-control" %}
                    </div>
                </div>
                
            </div> 
            <h2>Endereço</h2>
            <div class="row">
                <div class="col-sm-4">                    
                    <div class="form-group" >                
                        <label for="" >{{form.rua.label}} </label>        
                        {% render_field form.rua class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-2">                    
                    <div class="form-group" >                
                        <label for="" >{{form.numero_casa.label}} </label>        
                        {% render_field form.numero_casa class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-3">                    
                    <div class="form-group" >                
                        <label for="" >{{form.bairro.label}} </label>        
                        {% render_field form.bairro class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-3">                    
                    <div class="form-group" >                
                        <label for="" >{{form.cep.label}} </label>        
                        {% render_field form.cep class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-4">                    
                    <div class="form-group" >                
                        <label for="" >{{form.ponto_referencia.label}} </label>        
                        {% render_field form.ponto_referencia class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-2">                    
                    <div class="form-group" >                
                        <label for="" >{{form.contato1.label}} </label>        
                        {% render_field form.contato1 class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-2">                    
                    <div class="form-group" >                
                        <label for="" >{{form.contato2.label}} </label>        
                        {% render_field form.contato2 class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-2">                    
                    <div class="form-group" >                
                        <label for="" >{{form.celular1.label}} </label>        
                        {% render_field form.celular1 class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-2">                    
                    <div class="form-group" >                
                        <label for="" >{{form.celular2.label}} </label>        
                        {% render_field form.celular2 class="form-control" %}
                    </div>
                </div>
            </div>    
            
        </div>

        <div class="f" id="tela2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">{{form.num_telefone.label}}</label>
                        {% render_field form.num_telefone class="form-control" %}
                    </div>
                </div>
        
                <!-- class="errorlist"><li>This field is required.</li></ul><select id="user" name="user" required -->
                        
        
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">{{form.rg.label}}</label>
                        {% render_field form.rg class="form-control" %}
                    </div>  
                </div>
        
                {% if object.pk %}
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="">{{form.data_nasc.label}}</label>
                            {% render_field form.data_nasc class="form-control" %}                        
                        </div>  
                    </div>
                {% else %}
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">{{form.data_nasc.label}}</label>
                            {% render_field form.data_nasc class="form-control" type="date" %}
                        </div>  
                    </div>
                {% endif %} 
            </div>
        </div>

        <div class="f" id="tela3">
            <div class="form-group">
                <label for="">{{form.anotacoes.label}}</label>
                {% render_field form.anotacoes class="form-control" %}
            </div>    

            <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
    <div class="content">
        <nav id="menu">
            <button class="button button1" id="tela1">Cadastro Pessoal</button>
            <button class="button button1" id="tela2">Dados do Local de Trabalho </button>
            <button class="button button1" id="tela3">Dados Bancários</button>
        </nav>
    </div>


   <script>
    
    function tableshowhide(a,b,c){
            len = menu.childElementCount;
            closeall();
            for(i=0; i<len; i++){
            menu.children[i].onclick=function(){
                closeall();
                all.children[this.id].style.display="block";
            }
        }

        function closeall(){
            for(i=0; i<all.childElementCount;i++){
                all.children[i].style.display="none";
            }
        }

        menu.children[c].click();
    }
    tableshowhide("menu", "all", "tela1");

    </script>
{% endblock content %}