{% extends "base.html" %}

{% block content %}

<div class="class page-header">
    <h2>Lista de Clientes
        <span class="pull-right">
            <a href="{% url 'cliente:cliente_add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span>Adicionar
                </button>
            </a>
        </span>
    </h2>

    
    {% if object_list %}
    
        <table class="table striped">
            <thead>
                <tr>
                    <th>Nome</th>                    
                    <th>RG</th>
                    <th>Data de Nascimento</th>
                    <th>Anotações</th>                    
                    <th>CPF</th>
                    <th>Telefone</th>                    
                </tr>
            </thead>
            <tbody>
                {% for object in object_list  %}   
                <tr>
                    <td> 
                        <a href="{{ object.get_absolute_url}}">{{object.nome}}</a> <!--SUbstitui a forma comentada na linha abaixo comentada-->
                        <!-- <a href="{% url 'cliente:cliente_detail' object.pk %}">{{object.nome}}</a> -->
                    </td>                                        
                    <td>{{ object.rg }}</td>
                    <td>{{ object.data_nasc }}</td>
                    <td>{{ object.anotacoes }}</td>                    
                    <td>{{ object.cpf }}</td>
                    <td>{{ object.num_telefone }}</td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">Sem Clientes cadastrados</p>
    {% endif %}

</div>

{% endblock content %}

